.wrapper
  = render "side_bar"

  .chat
    .header
      .left-header
        .left-header__title
          = @group.name
        %ul.left-header__members
          Member：
          - @group.users.each do |user|
            %li.member
            = user.name

      .right-header
        .right-header__button
          = link_to edit_group_path(@group) do
            Edit
    .messages
      = render @messages
      -# .message
      -#   .upper-message
      -#     .upper-message__user-name
      -#       メンバー
      -#     .upper-message__date
      -#       2019/12/04
      -#   .lower-meesage
      -#     .lower-message__content
      -#       メッセージ
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
    -# .form
    -#   %form
    -#     %input.form__message
    -#     .form__mask
    -#       %label.form__mask__image
    -#         = icon('fa','image',class: 'icon')
    -#         %input.hidden{type: 'file'}
    -#     %input.form__submit{type: 'submit', value: 'Send'}
    